# sum the given number 98675 is 9+8+6+7+5 = 35

In [9]:
def sumifun(num):
    sumi = 0

    for i in range(len(str(num))):
        sumi += int(num[i])
    return sumi
num = input()
sumifun(num)

5235

15

# product num 123 =    1 * 2  * 3=6

In [13]:
def productfun(num):
    product = 1

    for i in range(len(str(num))):
        product*= int(num[i])
    return product

num = input()
productfun(num)

123

6

# factorial in loop

In [17]:
def factorial(num):
    
    prod = 1
    for i in range(1,num+1):
        prod *= i
    return prod

num = int(input())
factorial(num)

5

120

# factorial in recursive way

In [18]:
def fact(num):
    if num == 1:
        return 1
    else:
        return num*fact(num-1)
fact(5)

120

#  reverse the number

In [1]:
def  palindrome(num):
    sumi = 0

    while num>0:
        
        r = num%10
        sumi = (sumi*10)+r
        num = num//10

        
    return sumi
palindrome(12324)

42321

# reverse the string

In [11]:
def revstring(str1):
    sums = ""
    for i in range(len(str1)-1,-1,-1):
        sums+=str1[i]
    return sums
revstring("chandu")

'udnahc'

# spy number

In [22]:
#sum of all numbers equal to product of all numbers

num = int(input())

fun = str(num)
sumi = 0
prod = 1
for i in fun:
    sumi = sumi+int(i)
    prod = prod*int(i)
print(sumi)
print(prod)

1412
8
8

# frequency count in dictionary

In [4]:
string = "Sound waves cannot travel through a vacuum. 'Outer space' begins about 100 km above the Earth, where the shell of air around our planet disappears. With no air to scatter sunlight and produce a blue sky, space appears as a black blanket dotted with stars. Space is usually regarded as being completely empty."

new = list(map(str,string.split(" ")))
count = 0
maxcount = 0
dicte = dict()
for i in range(len(new)):
    count = 0
    for j in range(len(new)):
        if(new[i] == new[j]):
            count +=1
    dicte[new[i]] = count
    maxcount = max(count,maxcount)
    
print("HighestFrequency count",maxcount)
print(new)       
print(dicte)

print("Enter the value of frequency this will print the ")

for key , values in dicte.items():
    if(values==maxcount):
        print(key)

HighestFrequency count 3
['Sound', 'waves', 'cannot', 'travel', 'through', 'a', 'vacuum.', "'Outer", "space'", 'begins', 'about', '100', 'km', 'above', 'the', 'Earth,', 'where', 'the', 'shell', 'of', 'air', 'around', 'our', 'planet', 'disappears.', 'With', 'no', 'air', 'to', 'scatter', 'sunlight', 'and', 'produce', 'a', 'blue', 'sky,', 'space', 'appears', 'as', 'a', 'black', 'blanket', 'dotted', 'with', 'stars.', 'Space', 'is', 'usually', 'regarded', 'as', 'being', 'completely', 'empty.']
{'Sound': 1, 'waves': 1, 'cannot': 1, 'travel': 1, 'through': 1, 'a': 3, 'vacuum.': 1, "'Outer": 1, "space'": 1, 'begins': 1, 'about': 1, '100': 1, 'km': 1, 'above': 1, 'the': 2, 'Earth,': 1, 'where': 1, 'shell': 1, 'of': 1, 'air': 2, 'around': 1, 'our': 1, 'planet': 1, 'disappears.': 1, 'With': 1, 'no': 1, 'to': 1, 'scatter': 1, 'sunlight': 1, 'and': 1, 'produce': 1, 'blue': 1, 'sky,': 1, 'space': 1, 'appears': 1, 'as': 2, 'black': 1, 'blanket': 1, 'dotted': 1, 'with': 1, 'stars.': 1, 'Space': 1, 'is': 1, 'usually': 1, 'regarded': 1, 'being': 1, 'completely': 1, 'empty.': 1}
Enter the value of frequency this will print the
a

# fibunaci series

In [7]:
def fibu(num):
    n0,n1 = 0,1
    count = 0
    while count<num:
        print(n0)
        nth = n0+n1
        n0=n1
        n1=nth
        count+=1
fibu(10)

0
1
1
2
3
5
8
13
21
34

# print if given number is prime or not

In [3]:
#primeNumbers
def checkprime(n):
    flag = True
    for i in range(2,(n//2)+1):
        if(n%i == 0):
            flag = False
            break
    if(flag):
        print("Prime")
    else:
        print("Not a Prime")


n =4

checkprime(n)

Not a Prime

# GCD

In [1]:
def mini(n,m):
    minim = n
    if(m<minim):
        minim = m
    l = []
    for i in range(1,minim+1):
        if(n%i == 0 and m%i == 0):
            l.append(i)
    return l[-1]
mini(54,24)

6

# Armstrog
## 153 is Armstrog   1^3+5^3+3^3 = 153

In [3]:
num = int(input())
print("Enter the degree")
k = int(input())
n = str(num)

sumi = 0
for i in n:
    sumi +=  int(i)**k
print(sumi)
if(num == sumi):
    print("Armstrong")
else:
    print("Not an armstrong")

153
3
153
Armstrong

# LCM

In [25]:
def lcm1(a,b):
    if(a>b):
        greater = a
    else:
        greater = b
    while(True):
        if(greater%a ==0 and greater%b ==0):
            lcm = greater
            break
        greater +=1
    return lcm
lcm1(54,24)

216

# print digits in a string

In [6]:
words = "shdb1029u198j18jnu039u309"

new = ""
for i in range(len(words)):
    if(words[i].isdigit()):
        new+=words[i]
print(new)

102919818039309

# find  even numbers in a string

In [8]:
nums = '13231234234425'
nums = int(nums)
nums1 = str(nums)
evennums = ""
for i in range(len(nums1)):
    if(int(nums1[i])%2 ==0):
        evennums += nums1[i]
print(evennums)

2242442

# print prime Numbers between

In [27]:
def prime(mini,maxi):
    
    for i in range(mini,maxi):
        flag = True
        for j in range(2,(i//2)+1):
            if(i%j ==0):
                flag = False
        if(flag==True):
            print(i)
prime(20,50)

23
29
31
37
41
43
47

# print yes if the triangle forms right angle triangle or not

In [12]:
x = int(input())
y = int(input())
z = int(input())

if(x**2 +y**2 == z**2 or y**2 + z**2 == x**2 or z**2 +x**2 == y**2 ):
    print("yes")
else:
    print("not")

3
4
5
yes

In [10]:
(3**2 + 2**2)**2

169

# print prime numbers in the range

# print all zeros first and ones last

In [13]:
arr = [0,1,0,1,1,0,0,0,0,1,1,1,1,0,1,1,0,1,1]
ones = []
Zeros = []

for i in range(len(arr)):
    if(arr[i] == 0):
        Zeros.append(arr[i])
for j in range(len(arr)):
    if(arr[j] == 1):
        ones.append(arr[j])
ones = Zeros+ones
print(ones)

[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

# -----------------------------------------subarray------------------------------------------------------

In [24]:
#subarraya
arr = [1,2,3,4,5,6]
for i in range(len(arr)):
    for j in range(i,len(arr)):
        for k in range(i,j+1):
            print(arr[k],end=" ")
        print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
2
2 3
2 3 4
2 3 4 5
2 3 4 5 6
3
3 4
3 4 5
3 4 5 6
4
4 5
4 5 6
5
5 6
6

In [25]:
#subarraya in nested array easy to manupilate
arr = [1,2,3,4,5,6]
temparr = []
for i in range(len(arr)):
    for j in range(i,len(arr)):
        temp = []
        for k in range(i,j+1):
            temp.append(arr[k])
        temparr.append(temp)
print(temparr)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2], [2, 3], [2, 3, 4], [2, 3, 4, 5], [2, 3, 4, 5, 6], [3], [3, 4], [3, 4, 5], [3, 4, 5, 6], [4], [4, 5], [4, 5, 6], [5], [5, 6], [6]]

In [30]:
arr = [1,23,12,3,423,4]
temparr = []
count = 0
for i in range(len(arr)):
    for j in range(i,len(arr)):
        temparr.append([])
        for k in range(i,j+1):
            temparr[count].append(arr[k])
        count +=1 
print(temparr)
print("Number of subarrays:")
print(count)

[[1], [1, 23], [1, 23, 12], [1, 23, 12, 3], [1, 23, 12, 3, 423], [1, 23, 12, 3, 423, 4], [23], [23, 12], [23, 12, 3], [23, 12, 3, 423], [23, 12, 3, 423, 4], [12], [12, 3], [12, 3, 423], [12, 3, 423, 4], [3], [3, 423], [3, 423, 4], [423], [423, 4], [4]]
Number of subarrays:
21

In [29]:
#  find maximum sum in subarray 4+-1+2+1=6
arr = [-2,1,-3,4,-1,2,1,-5,4]
maxi = -23435436
for i in range(len(arr)):
    for j in range(i,len(arr)):
        sumi = 0
        for k in range(i,j+1):
            sumi+=arr[k]
        maxi = max(sumi,maxi)
print(maxi)

6

# count how many times CDC is repeated in subarray ABCDCDC

In [23]:
str1 = 'ABCDCDC'
list1 = []
list2 = ""
count = 0

for i in range(len(str1)):
    list1.append(str1[i])
print(list1)
for i in range(len(list1)):
    for j in range(i,len(list1)):

        for k in range(i,j+1):
            list2=list2+list1[k]
        list2 =list2+","
list2 = list2.split(",")
print(list2)
for i in list2:
    if(i == 'CDC'):
        count = count + 1
print(count)

['A', 'B', 'C', 'D', 'C', 'D', 'C']
['A', 'AB', 'ABC', 'ABCD', 'ABCDC', 'ABCDCD', 'ABCDCDC', 'B', 'BC', 'BCD', 'BCDC', 'BCDCD', 'BCDCDC', 'C', 'CD', 'CDC', 'CDCD', 'CDCDC', 'D', 'DC', 'DCD', 'DCDC', 'C', 'CD', 'CDC', 'D', 'DC', 'C', '']
2

#  ------------------------------------------subsequence-----------------------------------------------------------------------

In [1]:
2**4

16

In [27]:
arr = [1,2,3,4]
num = len(arr)
print("Subsequence:")
for i in range(2**num):
    for j in range(len(arr)):
        if(i & (1<<j)):
            print(arr[j],end = " ")
    print()

Subsequence:

1
2
1 2
3
1 3
2 3
1 2 3
4
1 4
2 4
1 2 4
3 4
1 3 4
2 3 4
1 2 3 4

# Print Maximum and minimum in an array

In [ ]:
def maxandmin(arr,n):
    maxi = arr[0]
    mini = arr[0]
    for i in range(n):
        if(arr[i] >maxi):
            maxi = arr[i]
        if(arr[i]<mini):
            mini = arr[i]
    return maxi,mini
arr = [123,21,32,4,23,43,5,34]
n = len(arr)
maxandmin(arr,n)

# print a Matrix given Rows *  columns

In [4]:
mat = []
rows = int(input())
colmns = int(input())

for i in range(rows):
    mat.append([])
for i in range(rows):
    for j in range(colmns):
        mat[i].append(0)
print(mat)

3
5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

# sum the rows and enter at the end

In [13]:


Mt = [[12,2,32],[54,3,4],[53,34,34],[12,65,12]]
MT1 = []

for i in range(len(Mt)):
    sumi = 0
    for j in range(len(Mt[0])):
        sumi +=Mt[i][j]
    MT1.append(sumi)
print(MT1)

for i in range(len(MT1)):
        Mt[i].append(MT1[i])
print(Mt)

[46, 61, 121, 89]
[[12, 2, 32, 46], [54, 3, 4, 61], [53, 34, 34, 121], [12, 65, 12, 89]]

# sum the diagonal

In [14]:
#sum the diagonal elements of matrix

Matt = [[12,2,32],[54,3,4],[53,34,34]]
sumi = 0
for i in range(len(Matt)):
    for j in range(len(Matt)):
        if(i ==j):
            sumi += Matt[i][j] 
print(sumi)

49

# #print How many times subarray CDC came in an array

In [16]:
string1 = "ABCDCDC"
list1 = []
li = ""

for i in string1:
    list1.append(i)
#print(list1)

for i in range(len(list1)):
    for j in range(i,len(list1)):
        for k in range(i,j+1):
            li = li+list1[k]
        li +=","
print(li)
count = 0
finallist = li.split(",")

for i in finallist:
    if(i == "CDC"):
        count = count+1
print()
print(count,"times")

A,AB,ABC,ABCD,ABCDC,ABCDCD,ABCDCDC,B,BC,BCD,BCDC,BCDCD,BCDCDC,C,CD,CDC,CDCD,CDCDC,D,DC,DCD,DCDC,C,CD,CDC,D,DC,C,

2 times

# rotate the array

In [17]:
def rotate( arr, n):
    for i in range(n):
        arr[i],arr[n-1] = arr[n-1],arr[i]
    return arr
arr = [1, 2, 3, 4, 5]
n = len(arr)
rotate(arr,n)

[5, 1, 2, 3, 4]

# easy way to reverse a string

In [18]:
a = "Chandu"
a[::-1]

'udnahC'

# check  Anargam   (there is an easyway also )

In [20]:
def createlist(string,anylist,alpha):
    anylist = []
    for i in string:
        anylist.append(alpha.index(i))
    return anylist
    
def sortalpha(anylist):
    for i in range(len(anylist)):
        for j in range(len(anylist)-i-1):
            if(anylist[j]>anylist[j+1]):
                anylist[j],anylist[j+1] = anylist[j+1],anylist[j]
    return anylist

def cancatstring(alpha,sortedlist):
    newstring = ""
    for i in sortedlist:
        newstring += alpha[i]
    return newstring

def checkanargam(u,v):
    if(u == v):
        return "Anargam"
    else:
        return "Not Anargam"
    
alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz"
string1 = input()
string2 = input()
string1list = []
string2list = []

x = createlist(string1,string1list,alpha)
y = createlist(string2,string2list,alpha)

sortedlist1 = sortalpha(x)
sortedlist2 = sortalpha(y)

newstring1 = cancatstring(alpha,sortedlist1)
newstring2 = cancatstring(alpha,sortedlist2)

if(len(string1) != len(string2)):
    print("Not Anargam")
else:
    check = checkanargam(newstring1,newstring2)
    print(check)

frog
rogf
Anargam

In [1]:
arr = [12,3,12,3,14,23,5,3,645]
for i in arr:
    print(i)

12
3
12
3
14
23
5
3
645

In [9]:
def solve(s):
    for i in range(len(s)):
        list1 = ""
        if s[i] == " ":
            list1 = list1+(s[i+1].upper())
        if i == 0:
            list1 = list1+(s[i].upper())
        else:
            list1 = list1+(s[i].upper())
        
    return list1
solve("fkjvn hgvsd wefwg")

'G'

In [11]:
s = "kjcnkdjns"
s[2].upper()

'C'

In [12]:
def solve(s):
    for i in range(len(s)):

solve("fkjvn hgvsd wefwg")

f
k
j
v
n

h
g
v
s
d

w
e
f
w
g

In [ ]:
a ="break"
b = "brake"
a_part = a[:3]
b_part = b[:3]

In [1]:
print(1==("Hello"))

False

In [2]:
True =="True"

False

In [4]:
1329//365

3

In [5]:
1329/365

3.6410958904109587

In [13]:
1329-(3*365)

234

In [16]:
234//7

33

In [19]:
234-(33*7)

3

In [ ]:
firstnum = int(input())


print(int(str(firstnum)))